.page-credential {

  .page-panel {
    position: relative;
  }

  label {
    color: grey;
  }

  .form-group {
    margin-top: 1rem;
  }

  .form-group:last-child {
    margin-top: 3rem;
  }

  .form-label {
    margin-bottom: 5px;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .generate-button {
    background-color: #1d79ca;
    border-color: #1d79ca;
  }

  .save-button {
    float: right;
  }
}