.page-credential {

  .page-panel {
    position: relative;
  }

  label {
    color: grey;
  }

  .form-group {
    margin-top: 3rem;
  }

  .generate-button {
    margin-top: 1rem;
  }

  .save-button {
    float: right;
  }
}