@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.lazy-img {
  position: relative;

  .loading-icon {
    @include center-both();
    display: none;
    font-size: 2rem;
    // compensate for icon width
    margin-left: -1rem;
    z-index: 3;
  }

  &[data-status="loading"] {
    img {
      opacity: .4;
    }

    .loading-icon {
      display: block;
    }
  }
}
