.signup-confirmation{
  .page-panel {
    position: relative;
  }

  .sub-title {
    text-align: center;
    display: block;
  }

  h2 {
    padding: 1rem 0;
  }

  .edit-button {
    float: left;
  }

  .dashboard-link {
    color: white;
  }

}