.page-secrets {
  .page-panel {
    position: relative;
    text-align: center;
  }

  .subtitle {
    overflow: hidden;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
  }

  .secrets-group {
    background-color: rgb(201, 201, 201);
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 50px;
  }

  .text-left {
    text-align: left;
  }

  .text-rigth {
    text-align: right;
  }

  .alert-copied {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
}