.page-secrets {
  .page-panel {
    position: relative;
    text-align: center;
  }

  .subtitle {
    overflow: hidden;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
  }

  .secrets-group {
    background-color: #e2e2e2e6;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 50px;
  }

  .text-left {
    text-align: left;
  }

  .text-rigth {
    text-align: right;
  }

  .alert-copied {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }

  .actions.form-group {
    overflow: hidden;
    padding-top: 20px;
    margin: 2px 0;

    button:first-child {
      float: left;
      background: #e04d4de8;
      width: 85px;
    }

    button:last-child {
      float: right;
      width: 60px;
    }
  }
}