.remove-alert {
    text-align: center;

    .close {
        font-size: 40px;
        position: absolute;
        right: 10px;
        top: 0;
        cursor: pointer;
    }

    h1 {
        padding: 4rem 0 2rem 0;
        font-size: 30px;
    }

    .no-section {
        button {
            display: block;
            margin: auto;
            width: 25%;
            text-align: center;
            margin-bottom: 5px;
        }
    }

    .yes-btn {
        display: block;
        margin: auto;
        width: 25%;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}