.page-login {
  .page-panel {
    position: relative;

    form {
      label {
        padding-bottom: 1rem;
      }

      input {
        margin-bottom: 1rem;
      }

      a {
        font-size: 15px;
      }

      button {
        float: right;
        width: 95px;
        border-radius: 10px;
      }
    }

    .signup-section {
      margin: auto;
      width: 50%;
      text-align: center;
      padding-top: 10rem;
    }
  }

  .form-group {
    margin: 0 .1rem;

    a {
      margin: 5px;
    }
  }
}